body {
    text-align: center;
}

h1 {
    font-size: 50px;
}

input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

button {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background: green;
}

.letter {
    border-bottom: 3px solid black;
    width: 50px;
    display: inline-flex;
    margin: 20px;
    position: relative;
    bottom: 60px;
}

.imgDiv img {
    width: 500px;
}

.key {
    width: 75px;
    height: 75px;
    margin: 2px 1px 2px 1px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: #505050;
}

.key:hover {
    cursor: pointer;
    background: #3c3c3c;
}

.correct {
    background: green;
    pointer-events: none;
    border: white;
}

.incorrect {
    background: red;
    pointer-events: none;
    border: white;
}